# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
1. Python
1. SQL

Some of the commonly used libraries used by Data Scientists include:

1. pandas
1. numpy
1. matplotlib
1. Keras
1. scikitlearn
1. pytorch

| Data Science Tools |
|------|
|Jupyter Notebook|
|Jupyter Labs|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60

min = 200
hours = min/60
      
print("{} hours".format(hours))

3.3333333333333335 hours

**Objectives:**
* DS languages
* DS libraries
* DS Tools
* Convert hours to mins

### Author  
Sairam Vekatachalam